

/* fix voor jquery UI Dialog */
.ui-widget-content .ui-icon, .ui-widget-header .ui-icon { float:right; }

.centered { margin:0 auto; }
.centeredtext { text-align:center; }
.reghttext { text-align:right; }

#songs th { white-space: nowrap; }
#songs .unpublished td { font-style:italic; }
#songs .inactive td { color: #ff0000; }
#songs .col-artist,
#songs .col-title   { width:300px; }
#songs .col-pdf,
#songs .col-lyrics  { width:25px; }
#songs .col-active,
#songs .col-published   { width:55px; }

#songform, 
#songform #songform_hsongartist,
#songform #songform_hsongtitle { display:none; }
#songform input { width: 170px; }
#songform thead th input       { margin-left:0;width:200px; }
#songform .label-bpm           { padding-right:15px; }
#songform .label-songactive, 
#songform .label-songpublished { float: left; display: block; padding-left: 15px; text-indent: -15px; }
#songform .label-songactive    { padding-right: 10px; }
#songform .label-songpublished { padding-right: 5px; }
#songform #songform_songactive, 
#songform #songform_songpublished { height: 13px; margin:0; padding: 0;  position: relative; top: -1px; vertical-align: bottom; width: 13px; *overflow: hidden; }
#songform #songform_songyear   { width:45px; }
#songform #songform_songkey, 
#songform #songform_songbpm    { width: 35px; }
#songform #songform_songlyrics { height: 500px; width: 410px; }

#setform, #setsongs { display:none; }
#setsongs tr.inset { background-color: #90EE90;}