.centered { margin:0 auto; }
.centeredtext { text-align:center; }
.reghttext { text-align:right; }

#songtabel    { border:1px solid #ccc; }
#songtabel td, 
#songtabel th { padding-left:5px; }
#songtabel th { background-color:#e0e0e0; }

table.tablesorter thead tr .header {
	background-image: url(bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
table.tablesorter thead tr .headerSortUp {
	background-image: url(asc.gif);
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(desc.gif);
}